modules = ["nodejs-24"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
MYFXBOOK_EMAIL = "volegovgarik9@gmail.com"
MYFXBOOK_PASSWORD = "kAwven-fuptop-4bibge"
VAPID_PUBLIC_KEY = "BPd8pp4gxn62BTE96mllEBiTEx5E_yyn85VBjY3ikfXW8l14gqqqGqXrd_zLADCj8AhosOkXUz8p-P8bK8iWozk"
VAPID_PRIVATE_KEY = "X1JcKW2tATmGwEwZDmpmkYA9VJaUky9YFybdsgKut2o"
VAPID_EMAIL = "mailto:admin@traderloading.app"
